html
  head
    title jade chat
    meta(name='description', content='Home page')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/styles.css')
   
  body
    h1.border.center jade chat
      hr
      h2.center Login Form
       p#login-err=emessage
      form(action='/login', method='post').center
        div
          label Email:
          input(type='text', name='lemail', class="lemail")
        div
          label Password:
          input(type='password', name='lpassword',class="lpassword")
        div
          input(type='submit', value='Log In',class="login-btn")
          
   
      hr
      h2.center Registration Form
      form(action='/register', method='post').center
        div
          label Username:
          input(type='text', name='rusername')
        div
          label Email:
          input(type='text', name='remail')
        div
          label Password:
          input(type='password', name='rpassword')
        
        div
          input(type='submit', value='Register',class="register-btn")

